/* Boosted Favorites */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/boostedFavorites.css);

:root {
    --favorites-name: 'sakura';
    --favorites-guild-icon: url(https://i.pinimg.com/originals/4e/e4/0e/4ee40ee18f815ed2650210854988b59f.jpg);
    --favorites-banner: url(https://i.ytimg.com/vi/PstMave6avk/maxresdefault.jpg);

    /* category icons */
    /* Duplicate each group for additional categories (Up to 10), then replace both numbers. */
    --category-1: '';
    --c1: url(https://i.imgur.com/Xwm8bJA.png);
    
    --category-2: '';
    --c2: url(https://i.imgur.com/F3zPKAX.png);
}
