.theme-dark, .theme-light {
  /* Revert new green to old color */
  --info-positive-foreground: #43b581;
  --status-positive-background: #43b581;
  --text-positive: #43b581;

  /* Revert new red to old color */
  --text-danger: #f04747;
  --info-danger-foreground: #f04747;
  --status-danger-background: #f04747;
}
.colorDanger-3n-KnP.focused-3qFvc8 {
    background-color: #f04747;
    color: #ffffff;
}

.actionButton-D1ZvXj {
    background: #43b581 !important;
}

.item-3XjbnG .textBadge-1fdDPJ {
    background-color: #7289da !important;
}

.container-1QtPKm.default-colors.checked-16gMAN {
    background-color: #43b581 !important;
}

.button-ejjZWC.lookFilled-1H2Jvj.colorBrandNew-abZT3v.sizeMedium-2oH5mg.grow-2T4nbg {
    background-color: #7298da !important;
}

.button-ejjZWC.lookOutlined-3RTC7c.colorRed-2VFhM4 {
    border-color: #f04747;
}

.button-ejjZWC.lookOutlined-3RTC7c.colorRed-2VFhM4:hover {
    background-color: #f04747;
}

.disableButton-3BR0Vj.button-ejjZWC.lookFilled-1H2Jvj.colorRed-2VFhM4.sizeSmall-3R2P2p.grow-2T4nbg {
    background-color: #f04747;
}

.disableButton-3BR0Vj.button-ejjZWC.lookFilled-1H2Jvj.colorRed-2VFhM4.sizeSmall-3R2P2p.grow-2T4nbg:hover {
    background-color: #DA373C;
}
