.theme-dark, .theme-light {
  /* Revert new green to old color */
  --info-positive-foreground: #43b581;
  --status-positive-background: #43b581;
  --text-positive: #43b581;

  /* Revert new red to old color */
  --text-danger: #f04747;
  --info-danger-foreground: #f04747;
  --status-danger-background: #f04747;
}
.colorDanger-3n-KnP.focused-3qFvc8 {
    background-color: #f04747;
    color: #ffffff;
}

.actionButton-D1ZvXj {
    background: #43b581 !important;
}
