body {
    background-color: #282b30;
    margin-left: 25px;
}

.title {
    color: #7289da;
    font-family: 'Whitney', sans-serif;
    font-size: 45px;
}

.p1 {
    color: white;
    font-family: 'Whitney', sans-serif;
}

.abtme {
    margin-left: 50px;
    margin-top: -10px;
    color: white;
    font-family: 'Whitney', sans-serif;
}
