body {
  /* Revert new green to old color */
  --old-green: #43b581;
  --info-positive-foreground: var(--old-green) !important;
  --status-positive-background: var(--old-green) !important;
  --text-positive: var(--old-green) !important;
  --button-positive-background): var(--old-green) !important;

  /* Revert new red to old color */
  --old-red: #f04747;
  --text-danger: var(--old-red) !important;
  --info-danger-foreground: var(--old-red) !important;
  --status-danger-background: var(--old-red) !important;
  --status-danger: var(--old-red) !important;
  --button-danger-background: var(--old-red) !important;

  /* Revert to old font var */
  --font-display: var(--font-primary);

  /* Found in Discord's CSS file: oldBrand vs newBrand HTML class - here we force old brand vars via copying */
  --brand-experiment-100: #f8f9fd !important;
  --brand-experiment-130: #f2f4fc !important;
  --brand-experiment-160: #ebeefa !important;
  --brand-experiment-200: #e3e7f8 !important;
  --brand-experiment-230: #dae0f5 !important;
  --brand-experiment-260: #d1d9f3 !important;
  --brand-experiment-300: #c7d0f0 !important;
  --brand-experiment-330: #b5c1ec !important;
  --brand-experiment-360: #a5b3e7 !important;
  --brand-experiment-400: #8ea1e1 !important;
  --brand-experiment-430: #869adf !important;
  --brand-experiment-460: #7d92dd !important;

  --brand-experiment: #7289da !important;

  --brand-experiment-500: #7289da !important;
  --brand-experiment-530: #687dc6 !important;
  --brand-experiment-560: #5c6fb1 !important;
  --brand-experiment-600: #4e5d94 !important;
  --brand-experiment-630: #435180 !important;
  --brand-experiment-660: #3b4770 !important;
  --brand-experiment-700: #2e3757 !important;
  --brand-experiment-730: #2b3352 !important;
  --brand-experiment-760: #272f4b !important;
  --brand-experiment-800: #222941 !important;
  --brand-experiment-830: #1a2032 !important;
  --brand-experiment-860: #111521 !important;
  --brand-experiment-900: #06070b !important;

  --brand-experiment-05a: rgba(114,137,218,0.05) !important;
  --brand-experiment-10a: rgba(114,137,218,0.1) !important;
  --brand-experiment-15a: rgba(114,137,218,0.15) !important;
  --brand-experiment-20a: rgba(114,137,218,0.2) !important;
  --brand-experiment-25a: rgba(114,137,218,0.25) !important;
  --brand-experiment-30a: rgba(114,137,218,0.3) !important;
  --brand-experiment-35a: rgba(114,137,218,0.35) !important;
  --brand-experiment-40a: rgba(114,137,218,0.4) !important;
  --brand-experiment-45a: rgba(114,137,218,0.45) !important;
  --brand-experiment-50a: rgba(114,137,218,0.5) !important;
  --brand-experiment-55a: rgba(114,137,218,0.55) !important;
  --brand-experiment-60a: rgba(114,137,218,0.6) !important;
  --brand-experiment-65a: rgba(114,137,218,0.65) !important;
  --brand-experiment-70a: rgba(114,137,218,0.7) !important;
  --brand-experiment-75a: rgba(114,137,218,0.75) !important;
  --brand-experiment-80a: rgba(114,137,218,0.8) !important;
  --brand-experiment-85a: rgba(114,137,218,0.85) !important;
  --brand-experiment-90a: rgba(114,137,218,0.9) !important;
  --brand-experiment-95a: rgba(114,137,218,0.95) !important;
}
