/* Old Italics */
@font-face {
    font-family: 'Old Italics';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/082e59042c15a057af01d5b717d01fb3.woff2) format("woff2");
}
@font-face {
    font-family: 'Old Italics';
    font-style: bold;
    font-weight: 700;
    src: url(/assets/4bc3ebf7886dab550f0af897eb0c0b2d.woff2) format("woff2");
}
.markup-eYLPri em, .italics-1HfeXG {
    font-family: 'Old Italics' !important;
    font-style: oblique !important;
}

/* Better Jump To Present Button */
[class*="jumpToPresentBar"] {
    display: contents;
}
[class*="jumpToPresentBar"] > button:first-child {
    display: none;
}
[class*="jumpToPresentBar"] > button:last-child {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 22px;
    padding: 8px !important;
    height: auto;
    background-color: #7289da;
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    font-size: 0px;
    color: transparent;
    transition: font-size .2s .1s, color .2s, padding .4s .1s;
}
[class*="jumpToPresentBar"] > button svg {
    order: -1;
    margin: 0px;
    height: 24px;
    width: 24px;
    top: auto;
    margin-right: 0px;
    margin-left: 0px;
    color: #FFFFFF;
    transition: margin .6s;
}
[class*="jumpToPresentBar"]:hover > button {
    padding: 8px 18px !important;
    font-size: 14px;
    color: #FFFFFF;
    transition: font-size .2s, color .2s .1s, padding .4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
    margin-right: 2px;
    margin-left: -6px;
}

/* Role Border */
:root{
  --roles-roundness: 1; /* change the 0 to any other number if you want the roles to be fully round */

  --roles-roundness-calc: calc((var(--roles-roundness) + .21) * 25px)
}
.role-2TIOKu {
  transform: translate(0);
  border: 0;
  border-radius: var(--roles-roundness-calc);
}
.role-2TIOKu .roleRemoveIcon-387wKV {
  margin: 0;
  left: unset;
  transform: translate(50%,-50%);
}
.addButtonIcon-3HZ_2f>path {
    d: path('M3 0h1v7H3zM0 3h7v1H0z');
    color: #b9bbbe;
    transform: scale(calc(24 / 7));
}
.addButton-1_dZYu.role-2TIOKu {
  border-color: #4f545c;
}
.addButtonIcon-3HZ_2f {
  width: 10px;
  height: 10px;
}
.role-2TIOKu .roleRemoveButton-17oXnT{position: static}
.role-2TIOKu .roleCircle-3TFUOr:before {
  content: '';
  top: 0;left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background: inherit;
  border-radius: var(--roles-roundness-calc);
  border: 2px solid transparent;
  -webkit-mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
}

/* Old Hype */
img[src$="badge-icons/3aa41de486fa12454c3761e8e223442e.png"]{
content:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeG1sbnM6dj0iaHR0cHM6Ly92ZWN0YS5pby9uYW5vIj48cGF0aCBkPSJNMjEuNTkxIDUuMzE4bC03Ljg3IDUuMTY2YS45MTQuOTE0IDAgMCAwLS4zMTYuMzU0bC0xLjIgMi40MDVhLjIyNC4yMjQgMCAwIDEtLjQxIDBsLTEuMi0yLjQwNWEuOTE0LjkxNCAwIDAgMC0uMzE3LS4zNTRsLTcuODctNS4xNjZhLjIzMi4yMzIgMCAwIDAtLjM1NC4yOThsMy4yODkgNi4zOTdhLjIzNi4yMzYgMCAwIDEtLjE4LjMzNUgzLjE4NWEuMjMuMjMgMCAwIDAtLjEzNy40MTdsOC44MTQgNi4zMTVhLjI0My4yNDMgMCAwIDAgLjI3NCAwbDguODE0LTYuMzE1YS4yMy4yMyAwIDAgMC0uMTM3LS40MTdoLTEuOTc2YS4yMzcuMjM3IDAgMCAxLS4yMDYtLjMzNWwzLjMxNC02LjM5N2EuMjMyLjIzMiAwIDAgMC0uMzU1LS4yOThoLjAwMXoiIGZpbGw9IiM0NWRkYzAiLz48L3N2Zz4=") !important
}
img[src$="badge-icons/8a88d63823d8a71cd5e390baa45efa02.png"]{
content:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeG1sbnM6dj0iaHR0cHM6Ly92ZWN0YS5pby9uYW5vIj48cGF0aCBmaWxsPSIjOWM4NGVmIiBkPSJNMjEuNTkxIDUuMzE4bC03Ljg3IDUuMTY2YS45MTQuOTE0IDAgMCAwLS4zMTYuMzU0bC0xLjIgMi40MDVhLjIyNC4yMjQgMCAwIDEtLjQxIDBsLTEuMi0yLjQwNWEuOTE0LjkxNCAwIDAgMC0uMzE3LS4zNTRsLTcuODctNS4xNjZhLjIzMi4yMzIgMCAwIDAtLjM1NC4yOThsMy4yODkgNi4zOTdhLjIzNi4yMzYgMCAwIDEtLjE4LjMzNUgzLjE4NWEuMjMuMjMgMCAwIDAtLjEzNy40MTdsOC44MTQgNi4zMTVhLjI0My4yNDMgMCAwIDAgLjI3NCAwbDguODE0LTYuMzE1YS4yMy4yMyAwIDAgMC0uMTM3LS40MTdoLTEuOTc2YS4yMzcuMjM3IDAgMCAxLS4yMDYtLjMzNWwzLjMxNC02LjM5N2EuMjMyLjIzMiAwIDAgMC0uMzU1LS4yOThoLjAwMXoiLz48L3N2Zz4=") !important
}
img[src$="badge-icons/011940fd013da3f7fb926e4a1cd2e618.png"]{
content:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeG1sbnM6dj0iaHR0cHM6Ly92ZWN0YS5pby9uYW5vIj48cGF0aCBmaWxsPSIjZjQ3YjY3IiBkPSJNMjEuNTkxIDUuMzE4bC03Ljg3IDUuMTY2YS45MTQuOTE0IDAgMCAwLS4zMTYuMzU0bC0xLjIgMi40MDVhLjIyNC4yMjQgMCAwIDEtLjQxIDBsLTEuMi0yLjQwNWEuOTE0LjkxNCAwIDAgMC0uMzE3LS4zNTRsLTcuODctNS4xNjZhLjIzMi4yMzIgMCAwIDAtLjM1NC4yOThsMy4yODkgNi4zOTdhLjIzNi4yMzYgMCAwIDEtLjE4LjMzNUgzLjE4NWEuMjMuMjMgMCAwIDAtLjEzNy40MTdsOC44MTQgNi4zMTVhLjI0My4yNDMgMCAwIDAgLjI3NCAwbDguODE0LTYuMzE1YS4yMy4yMyAwIDAgMC0uMTM3LS40MTdoLTEuOTc2YS4yMzcuMjM3IDAgMCAxLS4yMDYtLjMzNWwzLjMxNC02LjM5N2EuMjMyLjIzMiAwIDAgMC0uMzU1LS4yOThoLjAwMXoiLz48L3N2Zz4=") !important
}

/* Removes Chatbox from channel that don't allow you to communicate */
.channelTextAreaDisabled-1p2fQv, .channelTextAreaDisabled-1p2fQv > .scrollableContainer-15eg7h{
  animation: nochat .000001ms forwards;
}
@keyframes nochat{
  to{height: 0}
}
/* Removes Follow banner on bottom of channels */
.wrapper-2SplAX {display: none;}

/* No grid */
[class*="ByOneGrid-"]:not([class*="OneGridSingle-"]),
[class*="ByTwoGrid-"],
[class*="ByThreeGrid-"] {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

[class*="ByOneGrid-"]:not([class*="OneGridSingle-"]) [class*="lazyImg"],
[class*="ByTwoGrid-"] [class*="lazyImg"],
[class*="ByThreeGrid-"] [class*="lazyImg"] {
  aspect-ratio: unset;
  height: auto !important;
  width: auto !important;
  margin-left: 0px !important;
}

[class^="mediaAttachmentsContainer-"] [class*="messageAttachmentMediaMosaic-"] {
  max-width: fit-content;
}

[class*="mediaAttachmentsContainer-"] {
  border-radius: 0px;
}

[class*="OneGridSingle-"] {
  border-radius: 3px;
}

/* Removes description on status picker */
.description-1Dd2kv, .separator-12G2Op {
   display: none;
}

/* Removes Nitro tab in home */
.link-39sEB3[href="/store"] {
   display: none;
}

/* Hides Nitro section in settings */
.side-1lrxIh[aria-label="User Settings"]>:nth-child(-n+15):not(:nth-child(-n+8)) {
   display: none;
}

/* Platform Indicators Color Fix */
*[fill="var(--green-360"] {
    fill: var(--old-green);
}
*[style*="background-color: var(--green-360);"] {
    background-color: var(--old-green) !important;
}
*[style*="color: var(--green-360);"] {
    color: var(--old-green) !important;
}
*[fill="var(--red-400"] {
    fill: var(--old-red);
}
*[fill="var(--yellow-300"] {
    fill: var(--old-yellow);
}

/*Sparkle fix on Nitro Tab*/
.fullscreenSparkleStar1-3MxsUB, .fullscreenSparkleStar2-25D6hh {
 margin-left: -35px;
}
